<div class="header-img">
  <img src="../assets/Images/Cabecera_Juego.png" height="129" width="1197" routerLink="/inicio" (click)="ocultarTexto()"/>
</div>
<div *ngIf="mostrarTexto">
  <h3 style="color: rebeccapurple; margin-left: 31%">Haz click en el rótulo de arriba y pasarás a la siguiente pantalla.</h3>
  <h3 style="color: rebeccapurple; margin-left: 30%">Ahí encontrarás un video explicativo del juego y el botón de inicio.</h3>
  <h3 style="color: rebeccapurple; margin-left: 45%">¡Pásalo genial!</h3>
  <img style="margin-left: 36%" src="../assets/Images/Iniciogif.gif" height="270" width="480"/>
</div>

<router-outlet></router-outlet>



