<div class="left-side">
  <div>
    <img src="../assets/Images/Inicio.jpg" height="450" width="500" />
  </div>
  <br />
</div>
<div class="right-side">
  <img src="../assets/Images/Turno_CPU.png" height="100" width="223" />
  <br>
  <img src="../../assets/Images/Puntuación cpu.png" height="85" width="332"/> <h4> {{puntosCpu}} </h4>
  <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-info text-dark" style="{{barraCpu}}">50%</div>
  </div>
  <br/>
  <div>
    <button type="button" id="boton-0" class="btn btn-outline-info" class=" {{btncpu[0]}}" > Piedra</button>
    <button type="button" id="boton-1" class="btn btn-outline-info" class=" {{btncpu[1]}}"  >Papel</button>
    <button type="button" id="boton-2" class="btn btn-outline-info" class=" {{btncpu[2]}}"  >Tijeras</button>
    <button type="button" id="boton-3" class="btn btn-outline-info" class=" {{btncpu[3]}}" >Lagarto</button>
    <button type="button" id="boton-4" class="btn btn-outline-info" class=" {{btncpu[4]}}" >Spock</button>
  </div>

  <img src="../assets/Images/Turno_Player.png" height="100" width="300" />

  <img src="../../assets/Images/Puntuacion jugador.png" height="88" width="402"/> <h4>{{puntosJugador}}</h4>
  <div
    class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-info text-dark" style="{{barraJugador}}">50%</div>
  </div>
  <br />
  <div>
    <img src="../assets/Images/piedra.gif" height="55" width="55" (click)="InicioJuego(0)"/>
    <img src="../assets/Images/papel.gif" height="55" width="55"  (click)="InicioJuego(1)"/>
    <img src="../assets/Images/tijeras.gif" height="55" width="55" (click)="InicioJuego(2)"/>
    <img src="../assets/Images/lagarto.png" height="55" width="55" (click)="InicioJuego(3)"/>
    <img src="../assets/Images/spock.gif" height="55" width="55" (click)="InicioJuego(4)"/>
  </div>
  <br />

</div>
