.header-img {
  margin-left: 18%;
  margin-right: 15%;
}
ng{
  color: fuchsia;
}

.left-side {
  margin-top: 7%;
  margin-left: 5%;
  width: 40%;
  float: left;
}
.btn-outline-info {
  margin-left: 5%;
}
.right-side {
  width: 40%;
  float: left;
  margin-left: 3%;
}

.right-side img {
  margin-left: 7%;
}

.btn-important {
  margin-left: 10%;
}
.card {
  margin-left: 20%;
}

.disabled{
  pointer-events: none;
}

.video{
  margin-top:10%;
  margin-left: 35%;
  margin-right: 40%;
}
.start{
  margin-left: 32%;
  margin-right: 40%;
}
.vgif{
  margin-top:5%;
  margin-left: 35%;
  margin-right: 40%;
}
.header_Cpu{
  margin-left: 25%;
}

.vgif_Empate{
  margin-top:5%;
  margin-left: 39%;
  margin-right: 40%;
}
